body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    margin: 10px;
    padding: auto;
    text-align: left;
}

.button-containers {
    display: flex;
    gap: 50px;
    justify-content: center;
    margin-top: 40px;
}

.button {
    padding: 40px;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.1s;
}

#button1 {
    background-color: rgb(0, 0, 187);
    color: white;
}

#button2 {
    background-color: rgb(219, 0, 0);
    color: white;
}

#button1.pressed{
    background-color: rgb(46, 168, 16);
}

#button2.pressed{
    background-color: rgb(218, 120, 9);
}